
.Nav{
  list-style: none;
  display:flex;
  justify-content: space-between;
  font-weight: 600px;
  padding-left: 3rem;
  padding-right: 3rem;
}
.Logo{
  font-weight: bold;
}
.Menu1{
  margin-right: 2em;
}
.Menu2{
  margin-right: 2em;
}
.Menu3{
  margin-right: 2em;
}

.Body{
  background-image: url('../src/xmas.jpg');
  background-size: cover;
  height: 95vh;
  background-position: 50% 50%;
  display:flex;
  align-items: center;
  color: #fff;

}
.Text{
  padding-left: 6rem;
  letter-spacing: 2px;
  
}
.H1{
  font-size: 2.2em;
  letter-spacing: 10px;
}
p{
  line-height: 10px;
  font-size: 1.2em;
}
button{
  color: #fff;
  background-color: #2239b9;
  border: none;
  border-radius: 2px;
  padding: .8em;
  align-items: center;
}
.Footer{
  list-style: none;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600px;
  padding-left: 3rem;
  padding-right: 3rem;
}
.TrustedBy{
  font-weight: bold;
}